<footer id="footer" class="bodytext">
  <p> Made with ❤️ by Mila Arroyo</p>
  <p><i class="fa-regular fa-copyright"></i> <%= new Date().getFullYear() %> | All rights reserved</p>

  <p class="row justify-content-center">Find me on <a class="my-links col-md-auto"
      href="https://www.github.com/milarr65">Github</a></p>
  <hr style="width: 70%; opacity: 0.7; margin-bottom: 10px;">
  <h3 class="title">About This Project</h3>

  <div class="footer-container about-text bodytext" style="padding: 10px 7rem;">
    <p>
      This project is a fully functional movie hub where users can search for detailed information about movies and tv
      shows. It can handle search queries and it's organized based on popularity.
    </p>
    <p>
      Details, pictures and videos are provided by
      <a class="my-links" href="https://developer.themoviedb.org/docs/getting-started">
        The Movie Database API
      </a>
      <strong>All the code was written by me, no tutorial was used in the development of this website.</strong>
    </p>

    <p>This project is an assignment of the web course
      <strong>
        "The Complete Full-Stack Web Development Bootcamp"
      </strong>
      Made by The App Brewery. It's available on
      <a class="my-links"
        href="https://www.udemy.com/share/1013gG3@trCxiNCaWDKxEWGePtqm9vBNp0Lm1tfZeiWTZvnhWp0szwXjfiMMwp_6cCWS2zVRvQ==/">
        Udemy
      </a>
    </p>
  </div>
</footer>

<!-- MODAL SCRIPT -->
<script src="/scripts/scripts.js"></script>
<!-- NAVBAR DROPDOWN SCRIPT -->
  <script>
    function toggleDropdown() {
      const dropdown = document.querySelector('.dropdown');
      dropdown.classList.toggle('show');
    }
  </script>
</body>

</html>