<!-- search form  -->
<div class="form-container">
  <form id="myForm" method="get" action="/search" class="bodytext">
    <input id="name" type="search" name="q" placeholder="Search" required />
    <button type="submit" value="search"><i class="fa fa-search"></i></button>
  </form>
</div>
