<dialog id="about-modal" class="modal bodytext">
  <div class="modal-box">
    <h3 class="title2">About This Project</h3>
    <div class="about-contents">
      <p>
        This site is a digital hub where users can look up any movie or tv show to get relevant
        information like cast, ratings, genres, release dates, as well as images and videos. Based
        on the search, users will also get recommended related content.
      </p>
      <p>
        This project was originally an assignment from
        <em>"The Complete Full-Stack Web Development Bootcamp"</em> by Angela Yu. We were given no
        starting code and full creative freedom to build it. The goal was to use a free API to build
        a website, so I decided to go with
        <a href="https://developer.themoviedb.org/" target="_blank" rel="noopener noreferrer"
          >TMDB's</a
        >
        since I really like movies and shows.
      </p>
      <p>
        I also opted to not use a styles library and instead write all the css myself, which was a
        challenge for sure 😅 But it's been very rewarding to see my vision come to life bit by bit.
      </p>
    </div>
    <div class="modal-actions">
      <a href="https://github.com/milarr65/Movie-Finder" target="_blank" rel="noopener noreferrer">
        <button>
          <span>Github Repo</span>
          <i data-lucide="external-link"></i>
        </button>
      </a>
      <button class="modal-close" onclick="document.getElementById('about-modal').close()">
        Close
      </button>
    </div>
  </div>
  <form class="modal-backdrop" method="dialog">
    <button>close</button>
  </form>
</dialog>

<script>
  const modal = document.getElementById("about-modal");

  const modalBackdrop = document.querySelector(".modal-backdrop");
  modalBackdrop.addEventListener("click", () => {
    modal.close();
  });

  function showAboutModal() {
    if (!modal.open) {
      modal.showModal();
    }
  }
</script>
