<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Finder</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/medium-size.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link type="image/png" sizes="96x96" rel="icon" href="/images/icons8-film-96.png" />
  </head>

  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/">
          <img src="/images/icons8-film-96.png" alt="Movie Finder Icon" />
          <h4 class="title">Movie Finder</h4>
        </a>
      </div>
      <%- include('search-form.ejs') %>
      <ul class="nav-links title2">
        <li>
          <a href="/movies"><i data-lucide="popcorn"></i>Movies</a>
        </li>
        <li>
          <a href="/shows"><i data-lucide="tv"></i>TV Shows</a>
        </li>
        <li>
          <a onclick="showAboutModal()"><i data-lucide="Info"></i>About</a>
        </li>
      </ul>

      <div class="dropdown-container" style="position: relative">
        <button class="dropdown-toggle" onclick="toggleDropdown()">
          <i data-lucide="Menu"></i>
        </button>
        <ul class="dropdown title2">
          <li>
            <a href="/movies"><i data-lucide="popcorn"></i>Movies</a>
          </li>
          <li>
            <a href="/shows"><i data-lucide="tv"></i>TV Shows</a>
          </li>
          <li>
            <a onclick="showAboutModal()"><i data-lucide="Info"></i>About</a>
          </li>
        </ul>
      </div>
    </nav>

    <main id="root"><%- body %></main>

    <footer id="footer" class="bodytext">
      <p>Made with ❤️ by Mila Arroyo</p>
      <p class="media-type">
        <i data-lucide="copyright"></i>
        <span>
          <%= new Date().getFullYear() %>
          All rights reserved
        </span>
      </p>
      <p>
        Find me on
        <a
          class="my-links"
          href="https://www.github.com/milarr65"
          target="_blank"
          rel="noopener noreferrer"
          >Github</a
        >
      </p>
    </footer>

    <%- include("about-modal.ejs") %>

    <!-- MODAL SCRIPT -->
    <script src="/scripts/scripts.js"></script>
    <!-- LUCIDE ICONS CDN -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
    <!-- NAVBAR DROPDOWN SCRIPT -->
    <script>
      function toggleDropdown() {
        const dropdown = document.querySelector(".dropdown");
        dropdown.classList.toggle("show");
      }
    </script>
  </body>
</html>
