<!-- search form  -->
<div class="search-container">
  <form id="searchbar" method="get" action="/search">
    <input
      class="bodytext"
      id="search-input"
      type="search"
      name="q"
      placeholder="Search anything..."
      required
    />
    <button type="submit" value="search"><i data-lucide="search"></i></button>
  </form>
</div>
